@keyframes jumping-button {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(5px);
    }
    45% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vh;
    padding: 0px 5%;
}

.content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vh;
    padding: 0px 5%;
}

.content-dots {
    position: absolute;
    left: 10px;
    top: 175px;
    height: 12%;
    width: 5%;
}
.content-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2vh;
}
.content-image {
    width: 50%;
    height: auto;
}
.content-button {
    width: 15vw;
    height: 4vw;
    border-radius: 55px;
    font-size: 2vw;
    font-weight: 300;
    border: none;
    background-color: #458FF6;
    color: #FFFFFF;
}
.content-button:hover{
    animation: jumping-button 2s ease infinite;
}
.content-button2 {
    width: 15vw;
    height: 4vw;
    border-radius: 55px;
    font-size: 2vw;
    font-weight: 300;
    border: 2px solid #458FF6;
    background-color: #FFFFFF;
    color: #458FF6;
}
.content-button2:hover{
    animation: jumping-button 2s ease infinite;
}
/* Телефони */
@media (max-width: 425px) {
    .content-helper_text {
        display: none;
    }
    .line {
        display: none;
    }
    .content1{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .content2{
        display: flex;
        flex-direction: column-reverse;
        gap: 3vh;
    }
    .content-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-button {
        width: 35vw;
        height: 7vw;
        font-size: 4vw;
    }
    .content-button2 {
        width: 35vw;
        height: 7vw;
        font-size: 4vw;
    }
    .content-image {
        width: 65%;
    }
}

